<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="CHIP AMD THẾ HỆ MỚI">
    <meta name="description" content="">
    <title>Contact</title>
    <link rel="stylesheet" href="~/Content/HideProdMenu.css" media="screen">
    <link rel="stylesheet" href="~/Content/Slide.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.21.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">


    <script type="application/ld+json">
        {
        "name": ""
        }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Contact">
    <meta property="og:type" content="website">
</head>
<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-carousel u-slide u-block-2a6e-1" id="carousel_5391" data-interval="5000" data-u-ride="carousel">
        <ol class="u-absolute-hcenter u-carousel-indicators u-block-2a6e-5">
            <li data-u-target="#carousel_5391" class="u-active u-grey-30" data-u-slide-to="0"></li>
            <li data-u-target="#carousel_5391" class="u-grey-30" data-u-slide-to="1"></li>
            <li data-u-target="#carousel_5391" class="u-grey-30" data-u-slide-to="2"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
            <div class="u-active u-carousel-item u-clearfix u-image u-section-1-1" data-image-width="1920" data-image-height="800">
                <h2 class="u-custom-font u-font-oswald u-text u-text-white u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">CHIP AMD ​THẾ​ HỆ MỚI</h2>
                <p class="u-custom-font u-font-oswald u-text u-text-white u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Thế hệ tiếp theo của bộ vi xử lý AMD đã ra mắt. Hãy để ZEUS'S PC custom&nbsp; chiếc PC mơ ước của bạn ngay hôm nay. </p>
                <a href="#" class="u-border-2 u-border-white u-btn u-button-style u-hover-custom-color-2 u-none u-text-hover-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1000">chi tiết</a>
            </div>
            <div class="u-carousel-item u-clearfix u-image u-section-1-2" data-image-width="1920" data-image-height="800">
                <h2 class="u-custom-font u-font-oswald u-text u-text-white u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">INTEL CORE I9</h2>
                <p class="u-custom-font u-font-oswald u-text u-text-white u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Phát trực tiếp, sáng tạo và cạnh tranh ở cấp độ cao nhất với các tính năng hàng đầu trong ngành và kiến ​trúc kết hợp mới nhất.</p>
            </div>
            <div class="u-carousel-item u-clearfix u-image u-section-1-3" data-image-width="1920" data-image-height="800">
                <h2 class="u-custom-font u-font-oswald u-text u-text-white u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">
                    GEFORCE RTX 40 SERIES<br>NHANH GHÊ GỚM
                </h2>
                <p class="u-custom-font u-font-oswald u-text u-text-white u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">
                    CARD ĐỒ HỌA NVIDIA® GEFORCE RTX™ 4090&nbsp;<br>CÓ BÁN TẠI WEBSITE ZEUS'S PC
                </p>
                <a href="#" class="u-border-2 u-border-white u-btn u-button-style u-hover-custom-color-2 u-none u-text-hover-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1000">chi tiết</a>
            </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-block-2a6e-3" href="#carousel_5391" role="button" data-u-slide="prev">
            <span aria-hidden="true">
                <svg class="u-svg-link" viewBox="0 0 477.175 477.175">
                    <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path>
                </svg>
            </span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-block-2a6e-4" href="#carousel_5391" role="button" data-u-slide="next">
            <span aria-hidden="true">
                <svg class="u-svg-link" viewBox="0 0 477.175 477.175">
                    <path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
                    c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path>
                </svg>
            </span>
            <span class="sr-only">Next</span>
        </a>
    </section>
    <section class="u-clearfix u-uploaded-video u-video u-video-cover u-section-2" id="sec-fa81">
        <div class="u-background-video u-expanded" style="">
            <div class="embed-responsive">
                <video class="embed-responsive-item" data-autoplay="1" loop="" muted="1" autoplay="autoplay" playsinline="">
                    <source src="~/Image/Logo/SEA.mp4" type="video/mp4">
                    
                </video>
            </div>
        </div>
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-90 u-section-3" id="carousel_72c9">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-container-layout-1">
                            <img alt="" class="u-border-5 u-border-palette-4-base u-hover-feature u-image u-image-round u-image-1" data-image-width="730" data-image-height="487" src="~/Image/Logo/Best-Online-Games-for-PC-1.png" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h4 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Our story</h4>
                            <p class="u-custom-font u-font-montserrat u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">Chúng tôi mang theo sứ mệnh giúp cho gamer Việt Nam build những bộ PC mơ ước và mang đến 1 làn sóng&nbsp; mới cho nền gaming nước nhà. Chúng tôi với niềm đam mê mãnh liệt với PC muốn giúp cho gamer Việt Nam cảm nhận tốt nhất với từng chiếc PC mà chúng tôi mang đến.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
                        <div class="u-container-layout u-similar-container u-valign-top-md u-valign-top-sm u-container-layout-2">
                            <img alt="" class="u-border-5 u-border-palette-4-base u-hover-feature u-image u-image-round u-image-2" data-image-width="750" data-image-height="500" src="~/Image/Logo/637789173642585147_untitled-2.png" data-animation-name="customAnimationIn" data-animation-duration="1000">
                            <h4 class="u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000">Our PC</h4>
                            <p class="u-custom-font u-font-montserrat u-text u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1000">PC của chúng tôi có thể đáp ứng&nbsp; được nhu cầu chơi game, làm việc, giải trí, và thiết kế đồ họa với các linh kiện mới nhất và thịnh hành nhất để đem đến trải nghiệm chân thật và mượt mà nhất!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="u-align-center u-clearfix u-white u-section-4" id="sec-cf53">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-custom-font u-font-courier-new u-text u-text-1">CHÍNH SÁCH KHI MUA PC TẠI ZEUS'S PC</h2>
            <div class="u-expanded-width u-layout-grid u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <img alt="" class="u-image u-image-contain u-image-round u-radius-10 u-image-1" data-image-width="576" data-image-height="512" src="~/Image/Logo/money-bill-1-wave-solid.svg">
                            <p class="u-align-center u-custom-font u-font-courier-new u-text u-text-3">
                                PHƯƠNG THỨC THANH TOÁN<br>
                            </p>
                            <h5 class="u-align-center u-custom-font u-font-courier-new u-text u-text-4"> Dùng trước trả sau</h5>
                            <ul class="u-align-left u-custom-font u-font-courier-new u-text u-text-5">
                                <li> Dễ build</li>
                                <li> Nhận ngay các ưu đãi và mức giá thấp</li>
                                <li>Trả góp trễ hẹn không phải đóng phạt</li>
                                <li>Lên đến 36 tháng trả góp</li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <img alt="" class="u-image u-image-round u-radius-10 u-image-2" data-image-width="640" data-image-height="512" src="~/Image/Logo/handshake-solid.svg">
                            <p class="u-align-center u-custom-font u-font-courier-new u-text u-text-6">VẬN CHUYỂN</p>
                            <h5 class="u-align-center u-custom-font u-font-courier-new u-text u-text-7">nhanh &amp; uy tính</h5>
                            <ul class="u-align-left u-custom-font u-font-courier-new u-text u-text-8">
                                <li>Vận chuyển trên toàn quốc</li>
                                <li>Có thể trả hàng trong vòng 1 tuần nhận hàng</li>
                                <li>Kiểm tra hàng khi vận chuyển đến</li>
                                <li>Freeship trong nội thành phố Hồ Chí Minh</li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <img alt="" class="u-image u-image-contain u-image-round u-radius-10 u-image-3" data-image-width="512" data-image-height="512" src="~/Image/Logo/headset-solid.svg">
                            <p class="u-align-center u-custom-font u-font-courier-new u-text u-text-9">ĐỘI NGŨ HỖ TRỢ</p>
                            <h5 class="u-align-center u-custom-font u-font-courier-new u-text u-text-10">HỖ TRỢ 24/7&nbsp;</h5>
                            <ul class="u-align-left u-custom-font u-font-courier-new u-text u-text-11">
                                <li>Luôn có nhân viên trực ca</li>
                                <li>Miễn cước cuộc gọi</li>
                                <li>Hỗ trợ nhiệt tình và thân thiện</li>
                                <li>Có thể đến tận nhà để sửa chữa trục trặc máy tính</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-40 u-section-5" id="carousel_f18b">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
            <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-custom-sm u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-10 u-image-5">
                            <div class="u-container-layout u-valign-middle-sm u-valign-top-md u-valign-top-xs u-container-layout-1">
                                <img class="u-image u-image-contain u-image-default u-image-1" src="~/Image/Logo/kindpng_14195301.png" alt="" data-image-width="509" data-image-height="166">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top-md u-container-layout-2">
                                <img src="~/Image/Logo/pngwing.com.png" alt="" class="u-image u-image-default u-image-2" data-image-width="3508" data-image-height="2480">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-3">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-3">
                                <img src="~/Image/Logo/lo73l560-logitech-logo-logitech-g-logo-logok-in-2021-monogram-logo-logo-logitech.png" alt="" class="u-image u-image-default u-image-3" data-image-width="1000" data-image-height="750">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-4">
                            <div class="u-container-layout u-valign-middle-xl u-container-layout-4">
                                <img class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-contain u-image-default u-image-4" src="~/Image/Logo/pngwing.com1.png" alt="" data-image-width="2500" data-image-height="1000">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-5">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-5">
                                <img class="u-expanded-width-xs u-image u-image-contain u-image-default u-image-5" src="~/Image/Logo/Intel-2020-New.png" alt="" data-image-width="4478" data-image-height="3358">
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-10 u-layout-cell-6">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-container-layout-6">
                                <img src="~/Image/Logo/Nvidia-Vertical-Black-Logo.wine.png" alt="" class="u-image u-image-default u-image-6" data-image-width="3000" data-image-height="2000">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>