.u-section-1 .u-sheet-1 {
  min-height: 744px;
}

.u-section-1 .u-map-1 {
  width: 500px;
  height: 500px;
  margin: 117px auto 0 34px;
}

.u-section-1 .u-text-1 {
  margin: -500px 115px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 449px;
  margin: 33px 0 60px 570px;
}

.u-section-1 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 1199px) {
  .u-section-1 .u-map-1 {
    width: 450px;
    height: 450px;
    margin-top: 103px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: -450px;
    margin-right: 93px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 1px;
    margin-right: 18px;
    margin-left: 518px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-map-1 {
    margin-top: -163px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 48px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 404px;
    margin: 7px auto 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-map-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 47px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 0;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}