 .u-section-1 {
  background-image: linear-gradient(#f1c50e, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  width: auto;
  margin: 68px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-block-eddf-49 {
  border-style: dotted;
}

.u-block-eddf-48 {
  border-style: dotted;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

.u-section-1 .u-table-cell-1 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-2 {
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-3 {
  padding: 10px 20px;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-5 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-6 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-7 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-8 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-9 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-10 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-11 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-12 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-13 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-14 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-15 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-16 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-17 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-18 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-19 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-20 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-section-1 .u-table-cell-21 {
  border-style: dotted;
  padding: 10px 20px;
}

.u-block-eddf-35 {
  background-image: none;
}

.u-block-eddf-42 {
  padding: 10px 20px;
}

.u-block-eddf-43 {
  padding: 10px 20px;
}

.u-block-eddf-78 {
  padding: 10px 20px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 17px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 764px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 55px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 9px;
  }
}